#nav{
    background-color:#504F56; ;
    width :100%;
    min-height: 50px;
    max-height: 50px;

}

#chat-list{
    width: 20%;
    min-height: 500px;
    background-color: #545454;
    float: right;
    font-size: 20px;
    color: white;

    -webkit-box-shadow: inset 6px -16px 43px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: inset 6px -16px 43px -5px rgba(0,0,0,0.57);
    box-shadow: inset 6px -16px 43px -5px rgba(0,0,0,0.57);

}

#chat-list li{
    font-size: 30px;
    color: white;
    list-style: none;
    width: 90%;

    -webkit-box-shadow: inset 6px -16px 43px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: inset 6px -16px 43px -5px rgba(0,0,0,0.57);
    box-shadow: inset 6px -16px 43px -5px rgba(0,0,0,0.57);
}

#chat-windows-conteneur{
    width: 77%;
    height: 335px ;
    /* background-color: #545454;*/
    float: left;
    overflow:auto;
    margin: auto;
    margin-top: 100px;
    -webkit-box-shadow: 10px 19px 55px 9px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 19px 55px 9px rgba(0,0,0,0.57);
    box-shadow: 10px 19px 55px 9px rgba(0,0,0,0.57);
}

.chat-window{
    width: 200px;
    min-height: 300px;
    max-height: 300px;
    float: right;
    margin: 5px;
    background-color: #AAA9B2;
    border: 2px;

    -webkit-box-shadow: 10px 19px 55px 9px rgba(0,0,0,0.57);
    /*-moz-box-shadow: 10px 19px 55px 9px rgba(0,0,0,0.57);*/
    -moz-box-shadow: 5px 6px 5px 4px rgba(0,0,0,0.57);
    box-shadow: 5px 6px 5px 4px rgba(0,0,0,0.57);

}

.chat-window-header{
    width: 100%;
    background-color: #3B387C;
    min-height: 40px;
    max-height: 40px;
    font-size: 20px;
    color: white;
}

.chat-window-header .windowClose{
    font-size: 15px;
    color: black;
    width: 40px;
    float: right;

}

.messages{
    background-color: #AAA9B2;
    min-height:200px ;
    max-height: 210px;
    overflow: auto;
    padding: 5px;

}

.messageInput{

    background-color: #3A3A3F;
    border: 2px;
}
.messageInput textarea{
    width: 95%;

    margin: 2px;
}