body{
    margin:0px;
    background-color:rgba(0,0,0,0.1);

}
#conteneur{
    width: 100%;
    height: 100%;
}
#conteneur-form{
    position: relative;
    background-color:transparent;
    width: 50%;
    margin:auto;
    padding: 50px;

}
#formulaire{
    background-color:rgba(0,0,0,0.3);
    width: 80%;
    margin: auto;
    padding-left: 100px;
}
#formulaire input{
    margin: 20px;

}
#formulaire label{
    margin-left:20px;

}
h1{
    width: 80%;
    margin: auto;
}
#lien{
    width: 150px;
    margin: auto;

}

